
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;


} 

footer {
    height: 100px;
    vertical-align: middle;
}

footer div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.footer div p {
    padding: 30px 10px;
}

body {
    background-color: rgba(252, 238, 238, 0.877);
    letter-spacing: .1em;
    font-weight: lighter;
    font-family: 'sackersGothic-light';
    font-size: 21px;
    color: black;
    font-family: 'Tinos', serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: black;
}

nav {
    height: 80px;
    /* vertical-align: middle;  */
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    
}

li {
    list-style: none;
    padding: 0px 10px;
}

a {
    text-decoration: none;
    color: black;
}

.cartlogo1 {
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* display: flex; */
    /* align-items: flex-end;  */
    display: flex;
    justify-content: flex-end;

}
.cartlogo {
    max-width: 35px;
    padding: 20px 20px;

}

.gridproducts {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
    'grid1 grid2'
    'grid3 grid4'
    'grid5 grid6';
}

.gridproducts img {
    max-width: 100%;
}

.grid1 {
    grid-area: grid1;
}

.grid2 {
    grid-area: grid2;
}

.grid3 {
    grid-area: grid3;
}

.grid4 {
    grid-area: grid4;
}

.grid5 {
    grid-area: grid5;
}
.grid6 {
    grid-area: grid6;
}

/* .grid1 .grid2 .grid3 .grid4 .grid5 .grid6 {
   /* margin-left: auto;
   margin-right: auto; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
}
*/

article {
    text-align: center;
    padding: 20px 40px;
    line-height: 30px;
}

 button {
    padding: 10px 10px;
}

 button:hover {
    background-color: black;
    color: white;
}

.button-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.containercart {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    max-width: 20%;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

h4 {
    text-align: center;
    padding: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px 30px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .gridproducts {
        margin-left: 30%;
        margin-right: 30%;
        max-width: 40%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-column-gap: 20px;
        grid-template-areas:
        'grid1'
        'grid2'
        'grid3 '
        'grid4'
        'grid5'
        'grid6';
    }

    .gridproducts {
        margin-left: auto;
    }

    .containergrid {
        display: grid;
        max-width: 30%;
        margin-left: 30%;
        margin-right: 30%;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
                                'header'
                            'gridproducts'
                                'cart'
                                'footer';
    
    }
  
    .grid1{
        grid-area: grid1;
    }
    .grid2{
        grid-area: grid2;
    }
    .grid3{
        grid-area: grid3;
    }
    .grid4{
        grid-area: grid4;
    }
    .grid5{
        grid-area: grid5;
    }
    .grid6{
        grid-area: grid6;
    } 
    
    
    header {
        grid-area: header;
        

    }
    .gridproducts {
        grid-area: gridproducts;
    }
    
    .containercart {
        grid-area: cart;
    }
    
    footer {
        grid-area: footer;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 20%;
    }
}

