
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;


} 

footer {
    height: 100px;
    vertical-align: middle;
}

footer div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.footer div p {
    padding: 30px 10px;
}

body {
    background-color: rgba(252, 238, 238, 0.877);
    letter-spacing: .1em;
    font-weight: lighter;
    font-family: 'sackersGothic-light';
    font-size: 21px;
    color: black;
    font-family: 'Tinos', serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: black;
}

nav {
    height: 80px;
    /* vertical-align: middle;  */
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    
}

li {
    list-style: none;
    padding: 0px 10px;
}

a {
    text-decoration: none;
    color: black;
}

.cartlogo1 {
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* display: flex; */
    /* align-items: flex-end;  */
    display: flex;
    justify-content: flex-end;
    

}
.cartlogo {
    max-width: 35px;
    padding: 20px 15px;
}
.welcome {
    
    padding-top: 35px;
    font-size: 15px;
}

.gridproducts {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
    'grid1 grid2'
    'grid3 grid4'
    'grid5 grid6';
}

.gridproducts img {
    max-width: 100%;
}

.grid1 {
    grid-area: grid1;
}

.grid2 {
    grid-area: grid2;
}

.grid3 {
    grid-area: grid3;
}

.grid4 {
    grid-area: grid4;
}

.grid5 {
    grid-area: grid5;
}
.grid6 {
    grid-area: grid6;
}



article {
    text-align: center;
    padding: 20px 40px;
    line-height: 30px;
}

 button {
    padding: 10px 10px;
    margin: 10px 0px;
}

 button:hover {
    background-color: black;
    color: white;
}

.botones-section {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.button-checkout {

    max-width: 100px;
    font-size: 10px;

}

.empty-cart {

    font-size: 10px;
    max-width: 100px;

}

.containercart {
    display: flex;
    flex-direction: column;
    margin-left: 70%;
    margin-right: 2%;
    font-size: 11px;
    position: absolute;
    background-color: white;
    padding: 10px 10px;
    border-radius: 5%;
    /* max-width: 10%; */
    /* background-color: rosybrown; */
}



h4 {
    text-align: center;
    padding: 20px;
}

td, th {
    text-align: center;
    padding: 10px 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .gridproducts {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-column-gap: 10px;
        grid-template-areas:
        'grid1'
        'grid2'
        'grid3 '
        'grid4'
        'grid5'
        'grid6';
    }

    .gridproducts {
        margin-left: auto;
    }

    .containergrid {
        display: grid;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
                                'header'
                            'gridproducts'
                                'footer';
    
    }

    .grid1{
        grid-area: grid1;
    }
    .grid2{
        grid-area: grid2;
    }
    .grid3{
        grid-area: grid3;
    }
    .grid4{
        grid-area: grid4;
    }
    .grid5{
        grid-area: grid5;
    }
    .grid6{
        grid-area: grid6;
    } 
    
    
    header {
        grid-area: header;
        

    }
    .gridproducts {
        grid-area: gridproducts;
    }
    
    .containercart {
        grid-area: cart;
        max-width: 99%;
    }
    
    footer {
        grid-area: footer;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 20%;
    }

}

.form {
    width: fit-content;
    padding: 20px 20px;
    background-color: white;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    grid-area: pago;

}

h6 {
    text-align: center;
}
input, select, option {
    margin: 10px;
    padding: 5px;
    width: 80%;
    font-size: 15px;
}

.submit {

    margin-left: 35%;
    padding: 10px 20px;

}

label {
    margin: 10px;
}

.imgcart {
    max-width: 100%;
}


#total {
    font-size: 15px;
    padding: 20px 50px;
    width: 100%;
    display: inline;
}

#contador {
    position: absolute;
}

.contador-style {
    position: absolute;
    right: 32px; 
    top:10px;
    font-size: 13px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 100%;
    padding: 2px 0px;
    height: fit-content;
    width: 20px;
    margin-bottom: 200px;
    /* margin-left: 50%; */
}

.deletepic {
    max-width: 20px;
}
.delete {
    border: none;
    max-height: 25px;
}
.delete:hover {
    background-color: rgba(255, 0, 0, 0.493);
    border: none;
}

img {
    max-height: 400px;
}

#button-cart {
    border: none;
    height: fit-content;
}

.resumen-pedido {
    background-color: white;
    width: fit-content;
    grid-area: resumen;
    height: fit-content;
    margin-top: 30%;
    padding: 35px;
    font-size: 15px;
    line-height: 20px;
    margin-right: 40%;
}

.flex-resumen {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left;
}

.iva-pedido {
    color: gray;
    font-size: 10px;
}

.pago-resumen {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "pago resumen";
}

.envio-gratis {
    font-size: rgb(199, 79, 99);
    font-style: italic;
    font-size: 10px;
}

.h6-resumen {
    padding: 15px;
}